body {
    background-color: #dedddc;
}

#container {
    width: 700px;
    height: 500px;
    border-radius: 5px;
    margin: 50px auto;
    position: relative;
    border-radius: 4px;
}

#img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid white;
    transition: 0.3s;
}

#img:hover {
    border: 2px solid black;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 4px 2px #454545;
    -moz-box-shadow: 0 0 4px 2px #454545;
    box-shadow: 0 0 4px 2px #454545;
}

#buttons {
    position: absolute;
    top: 488px;
    left: 498px;
    margin: 0 1px 0 0;
    border-radius: 5px;
}

.btn {
    color: white;
    outline: none;
    border: none;
    opacity: 0.7;
    color: black;
    width: 100px;
    height: 45px;
    transition: 0.2s;
    font-weight: bold;
}

.btn1 {
    margin: 0 1px 0 0;
}

.btn:hover {
    cursor: pointer;
    color: white;
    opacity: 0.7;
    transition: 0.2s;
    background-color: #8c8c8c;
}

#nav{
    background-color: white;
    opacity: 0.5;
    display: flex;
    position: relative;
    top: 36px;
    margin: 0 0 0 2px;
    border-radius: 5px;
    padding: 2px 1px;
    width: 390px;
    color: black;
    z-index: 99;
    height: 30px;
    font-weight: bold;
}

#nav > div {
    padding: 5px 0 0 0;
}

#nav > * {
    margin: 0 0 0 10px;
}

#txt {
    border-radius: 10px;
    text-align: center;
    width: 40px;
    background: white;
    opacity: 0.7;
    font-weight: bold;
    border: none;
}

#txt:active {
    border: none;
}

#txt:visited {
    border: none;
}

#txt:link {
    border: none;
}

#nav > button {
    transition: 0.2s;
    color: black;
    border: none;
    font-weight: bold;
    background: none;
    border-radius: 5px;
}

#nav > button:hover {
    transition: 0.2s;
    background-color: black;
    color: white;
}
